
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins&family=Roboto:wght@100&family=Yesteryear&display=swap');

body {
    border: 1px dotted #C871D0;
    
}

.container {
    justify-content:center;
    text-align: center;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    text-overflow:hidden;
    background: #2A467E;



    
}
#positioning {
    border: 1px solid #329551;
    margin: 50px 250px;
    padding: 20px;
    border-radius: 10px;
    text-transform: capitalize;
    overflow:hidden;
    font-family: poppins;
 
    
}



